* {
  box-sizing: border-box;
  margin: 0;
}

.page-header {
  display: flex;
  height: 65px;
  background-color: darkorange;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
  margin-left: 25px;
  color: greenyellow;
}

.pokemon-name {
  background-color: cornflowerblue;
  color: greenyellow;
  max-width: 160px;
  padding: 12px 16px;
  border-radius: 7px;
  text-align: center;
}
