* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
.button-class {
    background-color: darkolivegreen;
    border: solid;
    color: deeppink;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16 px;
    margin: 4px 2px;
    transition: width 2s;
}

.button-class:hover {
    width: 300px;
    background-color: darkcyan;
    font-size: 34px;
    /* transition-timing-function: linear; */
}
