* {
  box-sizing: border-box;
  margin: 0;
}

.page-header {
  display: flex;
  height: 65px;
  background-color: darkorange;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
  margin-left: 25px;
  color: greenyellow;
}

.pokemon-name {
  background-color: cornflowerblue;
  color: greenyellow;
  max-width: 160px;
  padding: 12px 16px;
  border-radius: 7px;
  text-align: center;
}

.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
