* {
  box-sizing: border-box;
  margin: 0;
}

.page-header {
  display: flex;
  height: 65px;
  background-color: darkorange;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
  margin-left: 25px;
  color: greenyellow;
}
